
<div ng-if="showOauthParams">
    <h4>Network OAuth Parameters <i class="ui green" ng-click="edit()"><i class="edit icon"></i></i></h4>
    <div ng-hide="addSettings">
        <ul>
            <li ng-repeat="(key,setting) in currentSettings">
                {{setting.label}} - {{setting.value}}
            </li>
        </ul>
    </div>


    <button class="ui button green" ng-click="connectNetwork()"><i class="exchange icon"></i>
        <var ng-if="!network.connected">Connect</var>
        <var ng-if="network.connected">Reconnect</var>
    </button>
</div>
<div ng-show="!showOauthParams||addSettings">

    <!--<input type="text" ng-model="namespace" />-->
    <fieldset data-ng-repeat="choice in data[namespace]">
        <div ng-switch="preset">
            <div ng-switch-when="false">

                <input type="text" ng-model="choice.label" label="" placeholder="label">
                <input type="text" ng-model="choice.key" key="" placeholder="key name">
            </div>
            <div ng-switch-when="true">

                <select ng-model="data[network][$index]" ng-options="item.key for item in params" ng-if="params.length"></select>
                <input type="text" ng-model="choice.key" key="" placeholder="key name" ng-if="!params.length">

            </div>
        </div>
        <cite ng-show="!preset">or <a ng-click="preset=!preset">preset?</a></cite>
        <cite ng-show="preset">or <a ng-click="preset=!preset">custom?</a></cite>

        <input type="text" ng-model="choice.value" value="" placeholder="value">
        <button class="remove"  ng-click="removeChoice(choice.key)">-</button>

    </fieldset>

    <div class="ui buttons">
        <button class="ui button blue" ng-click="addNewChoice()">Add Oauth Params</button>
        <div class="or" ></div>
        <div class="ui positive button"  ng-click="updateNetwork(network.name)">Update fields</div>
        <div class="or" ng-if="showOauthParams"></div>
        <div class="ui button negative" ng-if="showOauthParams" ng-click="addSettings=false">Cancel</div>
    </div>
</div>