<div ng-if="type!='object'">
    {{value}} 
    <input type="hidden" ng-model="formData[key].value">
</div>
<div ng-if="type=='object'">
    <div class="ui form">
        <div class="grouped fields">
            <div class="field" ng-repeat="(propname, propvalue) in value">

                <div class="ui checkbox">
                    <input type="checkbox" name="{{key}}" ng-model="formData[key][propname].enabled" tabindex="0" class="hidden" style="z-index:1 !important">
                    <div>{{propname}}: 
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>