
    <div class="content">
        <div class="header">
            <!-- <profile-avatar namespace="{{profile.name}}" saved="{{profile.saved}}" avatar="{{profile.avatar}}"></profile-avatar> -->
           <!--  <img src="/images/settings/{{profile.name}}.png" class="ui avatar" ng-if="!profile.saved">
            <img src="{{profile.avatar}}" class="ui avatar" ng-if="profile.saved"> -->
            @{{profile}}
        </div>
        <div class="meta">
            <!-- <profile-updated date="{{profile.last_modified}}"></profile-updated> -->
        </div>
        <!-- <div class="description"></div> -->
    </div>
    <div class="extra content">
        <!-- <profile-fetch namespace="{{profile.name}}" done="getProfile(profile.name)"></profile-fetch> -->
        <!-- <profile-remove namespace="{{profile.name}}" ng-click="deleteProfile(profile.name)"></profile-remove> -->
    </div>
    