
<div class="card" ng-repeat="(namespace, config) in configs">

    <div class="ui accordion content">
        <div class="item">
            <a class="title">
            <!-- <i class="dropdown icon"></i> -->
            
            <div class="header">
                <profile-avatar namespace="namespace" profile="profiles[namespace].profileInfo" styles="ui right floated mini circular image"></profile-avatar>
                <profile-username namespace="namespace" username="config.username" profile="profiles[namespace].profileInfo" header="true"></profile-username>
            </div>
            <div class="meta">

                <profile-updated date="profiles[namespace].profileInfo.last_modified"></profile-updated>
                
            </div>

            </a>

                <div class="ui list tiny">
                  <div class="item">
                    <i class="icon" ng-class="{'check green': profiles[namespace].profileConfig, 'help gray': !profiles[namespace].profileConfig}"></i>
                    Profile configured
                  </div>
                  <div class="item">
                    <i class="icon" ng-class="{'check green': profiles[namespace].postConfig, 'help gray': !profiles[namespace].postConfig}"></i>
                    Post configured
                  </div>
                </div>
        </div>
    </div>
    <div class="extra content">
    
        <a class="ui button mini" ng-href="/#/config/{{namespace}}"><i class="icon edit"></i> Edit</a>
        <!-- <a class="ui button mini" ui-sref="profiles.namespace({namespace: namespace})"><i class="icon edit"></i> Edit</a> -->
    </div>
</div>