
<table width="100%" ng-class="{'grouped': grouped, 'simple': !grouped}">

    <tr ng-if="!grouped" ng-attr-valign="{{data.label==undefined&&'top'||'center'}}">
        <td ng-if="checkboxes" width="20px">

            <div class="ui checkbox">
                <input type="checkbox" ng-model="data.enabled"> <label></label>
                <!--<div ng-if="isChild">-->
                    <!--<input type="checkbox" ng-model="model[prefix].enabled"> <label></label>-->
                    <!--child checkbox!-->
                <!--</div>-->
            </div>
        </td>
        <td ng-attr-colspan="{{data.label==undefined&&'2'||'1'}}" >
            <div ng-if="renameable">
                <button class="ui icon button blue mini inverted" ng-click="show=!show"><i class="write icon"></i></button>
                <div class="ui action input" ng-hide="!show">
                    <input type="text" ng-model="data.label">
                    <button class="ui icon button green" ng-hide="!show" ng-click="show=!show">
                        <i class="checkmark icon"></i>
                    </button>
                </div>
            </div>
            <span ng-hide="show">{{ data.label }}</span>


                <accordion close="true" ng-if="(data.label==undefined)">
                    <accordion-group title="view content">
                        <pre style="font-size: 10px;">{{data | json}}</pre>
                    </accordion-group>
                </accordion>


        </td>
        <td width="85%" ng-if="(values&&data.label!=undefined)">
            {{data.value}}
            <input type="hidden" ng-model="data.value">
        </td>
    </tr>
    <tr ng-if="grouped">
        <td colspan="3">
            <div ng-include="'templates/partials/forms/table--row-nested.html'"></div>
        </td>
    </tr>

</table>