<!-- partial: settings-timestamps -->
<div class="ui link cards">
    <div class="card" ng-repeat="(key, value) in configs">
        <div class="content">
            <div class="header">
              <profile-avatar namespace="{{key}}"></profile-avatar> @{{value.username}}
            </div>
            <div class="meta">
                <profile-updated namespace="{{key}}"></profile-updated>
            </div>
            <!-- <div class="description"></div> -->
        </div>
        <div class="extra content">
            <profile-fetch namespace="{{key}}" ng-click="getProfile(key)"></profile-fetch>
        </div>
    </div>
</div>
