
<div class="ui segment">
    <div class="header ui"><i class="icon settings outline"></i>Post Configuration
        <config-fetch namespace="{{name}}" fetch="cleanConfig('post')" style="float: right" text="Clean Post"></config-fetch></div>

    <table class="ui compact celled definition table">
        <tbody>
        <tr ng-repeat="(label, attribute) in formData.postConfig ">
            <td colspan="3">
                <profile-row
                        data="formData.postConfig[label].content"
                        grouped="attribute.grouped"
                        checkboxes="true"
                        values="true"
                        label="{{label}}"
                        model="formData.postConfig"></profile-row>
            </td>

        </tr>
        </tbody>
        <tfoot class="full-width">
        <td colspan="4">
            <div class="ui small  button" ng-click="updateConfig('post')">
                Approve
            </div>
        </td>
        </tfoot>
    </table>
</div>

<!--<modal ng-model="show_modal" class="basic small">-->
    <!--<div class="ui icon header">-->
        <!--<i class="archive icon"></i>-->
        <!--Reset post configuration-->
    <!--</div>-->
    <!--<div class="content">-->
        <!--<p>You sure you wanna reset the post config??</p>-->
    <!--</div>-->
    <!--<div class="actions">-->
        <!--<div class="ui red basic cancel inverted button" ng-click="close_modal()">-->
            <!--<i class="remove icon"></i>-->
            <!--No-->
        <!--</div>-->
        <!--<div class="ui green ok inverted button" ng-click="cleanConfig('post')">-->
            <!--<i class="checkmark icon"></i>-->
            <!--Yes-->
        <!--</div>-->
    <!--</div>-->
<!--</modal>-->