<div class="content">
    <div class="header">
        <profile-avatar namespace="{{namespace}}" avatar="{{model.profiles[namespace].avatar}}" styles="ui right floated mini avatar"></profile-avatar>
        <profile-username namespace="{{namespace}}" username="{{config.username}}"></profile-username>
    </div>
    <div class="meta">
        <profile-updated date="{{model.profiles[namespace].last_modified}}"></profile-updated>
    </div>
    <div class="ui accordion">
        <div class="item">
            <a class="title">
            <i class="dropdown icon"></i>
            <span>Properties</span>
            </a>
            <div class="content">
                <div class="ui form">
                    <div class="grouped fields" ng-repeat="(key, property)  in model.profiles[namespace].props">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="small">
                                <label ng-dblclick="edit[namespace][key]=!edit[namespace][key]">
                                    <span ng-show="edit[namespace][key]||formData[namespace][key].displayName">{{formData[namespace][key].displayName}}</span>
                                    <span ng-show="!edit[namespace][key]" ng-if="!formData[namespace][key].displayName">{{key}}</span> 
                                </label>
                                <input type="text" ng-show="edit[namespace][key]" placeholder="{{key}}" ng-model="formData[namespace][key].displayName" ng-dblclick="edit[namespace][key]=!edit[namespace][key]">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui mini  button green" namespace="{{namespace}}" ng-click="updateProfileProps(namespace)">
                    Update
                </div>
            </div>
        </div>
    </div>
</div>
<div class="extra content">
    <profile-fetch namespace="{{namespace}}" done="getProfile(namespace)"></profile-fetch>
    <a class="ui button mini" ng-href="/#/profile/{{namespace}}"><i class="icon edit"></i> Edit</a>
</div>