<!-- partial: settings-timestamps -->
<h3 class="ui header dividing">Profiles ({{model.configs| length}})</h3>
<div class="ui link cards">

    <div class="card" ng-repeat="(namespace,config) in model.configs" ng-include="'templates/partials/profiles/profile-card.html'"></div>

</div>
<!-- <div class="ui divider"></div>
<div class="ui link cards"> 
    <div class="card" ng-repeat="(key, value) in model.configs" ng-if="!value.profile">
        <div class="content">
            <div class="header">
                <profile-avatar namespace="{{key}}"></profile-avatar> @{{value.username}}
            </div>
            <div class="meta">
                <profile-updated namespace="{{key}}"></profile-updated>
            </div>

        </div>
        <div class="extra content">
            <profile-fetch namespace="{{key}}" ng-click="getProfile(key)"></profile-fetch>
            <profile-remove namespace="{{key}}" ng-click="deleteProfile(key)"></profile-remove>
        </div>
    </div>
</div> -->