
    <div class="content">
        <div class="header">
            <profile-avatar namespace="{{namespace}}" avatar="{{model.profiles[namespace].avatar}}" styles="ui right floated mini avatar"></profile-avatar>
            <profile-username namespace="{{namespace}}" username="{{config.username}}"></profile-username>
        </div>
        <div class="meta">
            <profile-updated date="{{model.profiles[namespace].last_modified}}"></profile-updated>
        </div>
    </div>
    <div class="extra content">
        <profile-fetch namespace="{{namespace}}" done="getProfile(namespace)"></profile-fetch>
        <a class="ui button mini" ng-href="/#/profile/{{namespace}}"><i class="icon edit"></i> Edit</a>
    </div>
    