<!-- partial: settings-timestamps -->
<div class="ui link cards">
    <div class="card" ng-repeat="(key, value) in configs">
    
        <div class="image">
            <img src="{{value.profile_image_url}}">
        </div>
        <div class="content">
            <div class="header">{{key}}</div>
            <div class="meta">
                <a>Friends</a>
            </div>
            <div class="description">
                Matthew is an interior designer living in New York.
            </div>
        </div>
        <div class="extra content">
            <!-- <update-profile></update-profile> -->
            <div class="right mini ui button trigger" ng-click="getProfile('twitter')"><i class="user icon"></i>Get profile</div>
        </div>
    </div>
</div>
