
<tr >      
    <td ng-if="data.value" class="" width="5%">

        <div class="ui fitted checkbox">
            <input type="checkbox" ng-model="data.enabled"> <label></label>
        </div>
    </td>
    <td  width="25%">
        <div ng-hide="show"><button class="ui icon button blue mini inverted" ng-click="show=!show"><i class="write icon"></i></button><span>{{data.label}}</span></div>
        <div class="ui action input" ng-hide="!show">
          <input type="text" ng-model="data.label">
          <button class="ui icon button green" ng-hide="!show" ng-click="show=!show">
            <i class="checkmark icon"></i>
          </button>
        </div>
    </td>
    <td width="70%">
        {{data.value}} 
        <input type="hidden" ng-model="data.value">
    </td>
</tr>