
<table width="100%" ng-repeat="(label, attribute) in data">
	
	       <tr ng-switch on="label">
	           <td ng-switch-when="data">
		        	<h3 ng-if="!attribute.content[0].value">{{label}} </h2>
	           		<profile-row data="attribute.content[0].content" label="{{label}}"></profile-row>
	            </td>
  				<td ng-switch-default>
		        	<!-- <h3 ng-if="!attribute.content.value">{{label}} </h2> -->
	       			
		            <profile-row data="attribute.content" label="{{label}}" checkboxes="true" values="true"></profile-row>
	       			<!-- <hr ng-if="!attribute.content.value && countProperties(attribute.content) == 3"> -->
       			</td>
  					<!-- <td>-{{attribute.content.label}}:{{attribute.content.value}} ({{attribute.grouped}})-</td> -->
	       </tr>

</table>