<!-- partial: settings-networkconfig -->

<h3 class="ui header dividing">Social Network Configurations ({{networkCount}})</h3>
<div class="sixteen wide column"  ng-if="!networkCount">
    <p>No networks added yet.</p>
</div>
<div class="ui divided list" ng-if="networkCount">
    <div class="item" ng-repeat="network in networks">
        <img class="ui avatar image" ng-src="/images/settings/{{network.name}}.png">
        <div class="content">
            <!--{{namespace}}-->
            <!--{{network}}-->

             <div class="header">{{network.name}}</div>
            <div class="right mini ui button trigger" ng-click="details=!details">Details</div>
            <div class="right mini ui button trigger" ng-click="edit=true">Configure</div>
            <!--<disconnect-namespace></disconnect-namespace>-->
            <!--<remove-namespace></remove-namespace>-->
        </div>
        <div class="">
            <div class="eight column wide">
                <div class="list">
                    <div class="item" ng-if="value&&settings.configs[network.namespace]" ng-repeat="(key, value) in settings.configs[network.namespace]">
                        <div class="header">{{key}}</div>
                        {{value}}
                    </div>
                    <div class="item" ng-show="!settings.configs[network.namespace]">
                        <div class="header">{{key}}</div>
                        {{value}}
                    </div>
                    <div class="right mini ui button trigger" ng-click="edit=!edit">Edit</div>
                </div>
            </div>
            <div class="eight column wide">
                <form class="ui form">
                    <!-- <namespace-toggle></namespace-toggle> -->
                    <div class=" fields">
                        <!--<div class="field four wide ">
                            <label>Username</label>
                            <input type="text" value="settings.configs[network.namespace].username" ng-model="formData.username">
                        </div>-->
                        <!--<div class="field twelve wide ">
                            <label>Redirect URL</label>
                            <input type="text" value="settings.configs[network.namespace].redirect_url" ng-model="formData.redirect_url">
                        </div>-->
                    </div>
                    <div class="field">
                        <oauth-parameters network="network.name" current-settings="network.settings.oauth"></oauth-parameters>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>