<!-- partial: settings-networkconfig -->
<div class="ui divided list">
    <div class="item" ng-repeat="network in settings.networks">
        <img class="ui avatar image" ng-src="/images/settings/{{network.namespace}}.png">
        <div class="content">
            <!-- <div class="header">{{network.namespace}}</div> -->
            <div class="right mini ui button trigger" ng-click="details=!details" ng-show="network.configured">Details</div>
            <a class="right mini ui button trigger purple" ng-href="/connect/{{network.namespace}}" ng-show="!network.connected && network.configured"><i class="exchange icon"></i>Connect</a>
            <disconnect-namespace></disconnect-namespace>
            <div class="right mini ui button trigger" ng-click="edit=!edit" ng-show="details||!network.connected">Edit</div>

        </div>
        <div class="">
            <div class="eight column wide" ng-show="details">
                <div class="list">
                    <div class="item" ng-repeat="(key, value) in settings.configs[network.namespace]">
                        <div class="header">{{key}}</div>
                        {{value}}
                    </div>
                </div>
            </div>
            <div class="eight column wide" ng-show="edit||details">
                <form class="ui form">
                    <!-- <namespace-toggle></namespace-toggle> -->
                    <div class=" fields">
                        
                    <div class="field four wide ">
                        <label>Username</label>
                        <input type="text" value="settings.configs[network.namespace].username" ng-model="formData.username">
                    </div>
                    <div class="field twelve wide ">
                        <label>Redirect URL</label>
                        <input type="text" value="settings.configs[network.namespace].redirect_url" ng-model="formData.redirect_url">
                    </div>
                    </div>
                    <div class="field">
                        <label>Add custom properties</label>
                        <custom-properties></custom-properties>
                    </div>
                    <div class="ui buttons">
                        <remove-namespace></remove-namespace>
                        <div class="or"></div>
                        <configure-namespace></configure-namespace>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>