<!-- template: settings-network-profiles -->
<div class="ui container">
    <div class="ui header dividing">
        <profile-avatar namespace="profileInfo.name" profile="profileInfo" styles="ui left avatar floated left image"></profile-avatar>
        <div class="content">
            {{profileInfo.name}} Profile
            <div class="sub header">
                {{profileInfo.last_modified | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
            </div>
        </div>

        <profile-fetch namespace="{{profileInfo.name}}" done="cleanProfile(profileInfo.name)" style="float: right"></profile-fetch>
        <profile-remove namespace="{{profileInfo.name}}" done="deleteProfile(profileInfo.name)" class="floated right" style="float: right"></profile-remove>
    </div>
    <div class="ui header">
        <div class="content">Profile Properties</div>
    </div>
    <div class="ui stackable two column vertically divided grid">
      <div class="row">
        <div class="column">
          <div class="ui segment">
          <div class="ui list">
              
              <div class="item"ng-repeat="(label, attribute) in formData.profileProperties">
                <div class="header">{{attribute.label}}</div>
                {{attribute.value}} ({{label}})
              </div>
          </div>

          <table class="ui compact celled definition table">
              <tbody>
                  <tr ng-repeat="(label, attribute) in formData.profileProperties">
                      <td colspan="3">
                          
                              <profile-row data="attribute" label="{{attribute.label}}"></profile-row>
                          
                      </td>

                  </tr>
              </tbody>
              <tfoot class="full-width">
              <td colspan="4">
                  <div class="ui small  button" ng-click="updateProfile(profileInfo.name)">
                      Approve
                  </div>
              </td>
              </tfoot>
          </table>

          </div>
        </div>
        <div class="column">
          <div class="ui segment">

          <table class="ui compact celled definition table">
              <tbody>
                  <tr ng-repeat="(label, attribute) in formData.profileConfig" ng-if="countProperties(attribute.content)">
                      <td colspan="3">
                        <div class="title" ng-if="attribute.grouped">{{label}}</div>
                          
                              <profile-row data="formData.profileConfig[label].content" label="{{label}}" checkboxes="true" values="true"></profile-row>
                          
                      </td>

                  </tr>
              </tbody>
              <tfoot class="full-width">
              <td colspan="4">
                  <div class="ui small  button" ng-click="updateProfile(profileInfo.name)">
                      Approve
                  </div>
              </td>
              </tfoot>
          </table>

          </div>
        </div>
      </div>
      <div class="ui header">
          <div class="content">Post Design</div>
          <!-- <div class="right floated mini ui button trigger" ng-click="hidden=!hidden">
              <i class="add icon"></i>Add Props   
          </div> -->
      </div>
      <div class="row">
        <div class="column wide six">
          <div class="ui segment">
                post
          </div>
        </div>
        <div class="column wide ten">
          <div class="ui segment">Properties
          <table class="ui compact celled definition table">
              <tbody>
                  <tr ng-repeat="(label, attribute) in formData.postConfig" ng-if="countProperties(attribute.content)">
                      <td colspan="3">
                      {{label}}
                                  <profile-row data="formData.postConfig[label].content" label="{{label}}" grouped="attribute.grouped" checkboxes="true" values="true"></profile-row>
                              <!-- <tfoot class="full-width">
                              <td colspan="4">
                                  <div class="ui small  button" ng-click="updateProfile(profileInfo.name)">
                                      Approve
                                  </div>
                              </td>
                              </tfoot> -->
                      </td>

                  </tr>
              </tbody>
              <tfoot class="full-width">
              <td colspan="4">
                  <div class="ui small  button" ng-click="updateProfile(profileInfo.name)">
                      Approve
                  </div>
              </td>
              </tfoot>
          </table>
        </div>
      </div>
    </div>
<!--     <div class="ui bulleted list"  ng-show="hidden">
        <div class="item" ng-repeat="(key, value) in profile.props">
            <div class="content">
                <div class="header">
                    <span ng-if="!value.displayName">{{key}}</span>
                    <span ng-if="value.displayName">{{value.displayName}}</span>
                </div>
                {{value.value}}
            </div>
        </div>
    </div>
    <table class="ui compact celled definition table" ng-show="!hidden">
        <thead class="full-width">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th colspan="4"></th>
            </tr>
            <tr ng-repeat="(key, value) in profile.fetchedProfile | orderBy:sortType:sortReverse">
                <td class="">
                    <div class="ui fitted checkbox">
                        <input type="checkbox" ng-model="formData[key].enabled" > <label></label>
                    </div>
                </td>
                <td>{{key}}</td>
                <td>
                    {{value}}
                    <input type="text" ng-model="formData[key].value">
                </td>
            </tr>
        </tbody>
        <tfoot class="full-width">
        <td colspan="4">
            <div class="ui small  button" ng-click="updateProfile(profileInfo.name)">
                Approve
            </div>
        </td>
        </tfoot>
    </table>
 -->

    <div ng-switch on="profileInfo.name">
        <div ng-switch-when="instagram">
            <div>

                <!-- <img src="{{post.images.thumbnail.url}}"> -->
            </div>
            <!-- this is {{postConfig}} -->


        </div>
    </div>


    <div ng-repeat="config in formData">
       <!-- {{config}}  -->
    </div>

</div>