<!-- template: settings-network-profiles -->
<h3 class="ui header dividing">{{model.network}}</h3>
<cite>{{model.profiles[model.network].last_modified | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</cite>
<div class="ui container">

                <div class="ui right floated small primary labeled icon button" ng-click="hidden=!hidden">
                    <i class="add icon"></i> Add Properties
                </div>
                <div class="ui small  button" ng-click="updateProfileProps(model.network)">
                    Approve
                </div>
                <div class="ui small  disabled button">
                    Approve All
                </div>
    <table class="ui compact celled definition table">
        <thead class="full-width">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Display Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th
                <th colspan="4">
                </th>
            </tr>
            <tr ng-repeat="(key, value) in model.profiles[model.network].profile" ng-show="formData[key].enabled||!hidden">
                <td class="">
                    <div class="ui fitted checkbox">
                        <input type="checkbox" ng-model="formData[key].enabled"> <label></label>
                    </div>
                </td>
                <td>{{key}}</td>
                <td>
                    <input type="text" ng-model="formData[key].displayName">
                </td>
                <td>
                    {{value}} 
                    <input type="hidden" ng-model="formData[key].value">
                </td>
            </tr>
        </tbody>
        <tfoot class="full-width">
            <td colspan="4">
            </td>
        </tfoot>
    </table>
</div>