<div class="ui container" ng-controller="settingsController as settings">
    <div  class="ui grid" ng-include="'templates/partials/settings/timestamps.html'"></div>
    <div class="ui grid" ng-show="settings.saved">

			<h3 class="ui header dividing">Social Network Configurations</h3>
			
		<div class="sixteen wide column"  ng-show="!settings.virgin">
		    <p>No networks added yet.</p>
		</div>
        <div class="sixteen wide column" ng-show="settings.virgin" ng-include="'templates/partials/settings/network-config.html'"></div>
    </div>
</div>