<div class="container">
    <div class="title item">datawhore</div>
    <div class="right menu">
        <div class="ui simple dropdown item">
            <i class="settings icon"></i> admin
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" ui-sref="core">
                    <i class="setting horizontal icon"></i> core
                </a>
                <a class="item" ui-sref="profiles">
                    <i class="users icon"></i> profiles
                </a>
            </div>
        </div>
    </div>
</div>

